#about .block-effect {
    font-size: 50px;
    
  }
  
  #about .block-reveal {
    --t: calc(var(--td) + var(--d));
  
    color: transparent;
    padding: 4px;
  
    position: relative;
    overflow: hidden;
  
    animation: revealBlock 5s var(--t) forwards;
  }
  
  #about .block-reveal::after {
    content: '';
  
    width: 0%;
    height: 100%;
    padding-bottom: 4px;
  
    position: absolute;
    top: 0;
    left: 0;
  
    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  }
  
  
  /* animations */
  @keyframes revealBlock {
    100% {
      color: #0f0f0f;
    }
  }
  
  @keyframes revealingIn {
  
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  }
  
  @keyframes revealingOut {
  
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(100%);
    }
  
  }
  .split body{
    margin:0;
  }
  .split{
    height: 100vh;
      background: linear-gradient(-45deg,#f5967f,#f4d293,#c1946a,#fdb4be);
      background-size: 400% 400%;
      animation: Gradient 15s ease infinite;
      background-repeat: no-repeat;
      box-sizing: border-box;
      }
      @-webkit-keyframes Gradient{
      0%{
      background-position: 0% 50%
      }
      50%{
      background-position: 100% 50%}
      100%{
        background-position: 0% 50%;
      }
    }