html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100%;
  background: url(Images/christopher-sardegna-bSmKli4OTIY-unsplash.webp) no-repeat 100% 100%;
  background-size: cover;
}



.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px ;
  color: black;
  font-weight: bold;
  font-size: 20px;
 padding-left: 12px;
  text-decoration: none;
}

nav {
  text-decoration: none;
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 300;
}

nav ul {
  text-decoration: none;
  line-height: 60px;
  list-style: none;
  background: rgba(231, 223, 223, 0);
  overflow: hidden;
  color: rgb(238, 236, 236);
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  z-index: 300;
}

nav.black ul {
  height: 100px;
  background: rgb(255, 255, 255);
  z-index: 0 ;
}

nav ul li {
  height: 100px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.menu-icon {
  text-decoration: none;
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}
a {
  height: 40px;
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: .25em;
  display: inline-block;
  
  position: relative;
}
.logo a:hover::after {
  width: 100%;
  right: 0;
  text-decoration: none;
}

.logo a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  
  width: 0;
  text-decoration: none;
}
a:hover::after {
  width: 100%;
  right: 0;
  text-decoration: none;
}

a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
  transition: width .5s ease 0s, right .5s ease 0s;
  width: 0;
  text-decoration: none;
}
.button {
  border-radius: 100px;
  height: 80px;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 280px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: linear-gradient(-45deg,#ff5b70,#f4d293,#c1946a,#dd4b5f);
background-size: 400% 400%;
animation: Gradient 15s ease infinite;
background-repeat: no-repeat;
}
.button2{
  margin-left: 80px;
}
@-webkit-keyframes Gradient{
0%{
background-position: 0% 50%
}
50%{
background-position: 100% 50%}
100%{
  background-position: 0% 50%;
}
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
@media(max-width: 786px) {
  header {
    position: static;
    width: 100%;
    height: 120%;
    background: url(Images/christopher-sardegna-bSmKli4OTIY-unsplash.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  .logo {
    padding-top: 30px;
        position: fixed;
        top: 0;
        margin-top: 1px;
  }

  nav ul {
    
        max-height: 0px;
        background: rgb(243, 236, 236);
  }

  nav.black ul {
    position: fixed;
        background: rgb(241, 241, 241);
  }
  .button {
    border-radius: 100px;
    position: static;
    border: none;
    color: white;
    height: 60px;
  width: 150px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: linear-gradient(-45deg,#ff5b70,#f4d293,#c1946a,#dd4b5f);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  background-repeat: no-repeat;
  }
  @-webkit-keyframes Gradient{
  0%{
  background-position: 0% 50%
  }
  50%{
  background-position: 100% 50%}
  100%{
    background-position: 0% 50%;
  }
}
  .showing {
        max-height: 54em;
        
  }
.a{
  color: white;
}
  nav ul li {
    
        box-sizing: border-box;
        width: 50%;
        padding: 3px;
        text-align: center;
  }

  .menu-icon {
    padding-top: 50px;
        display: block;
  }
  nav ul li a {
    
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
}
.Text-box{
  display: inline-block;
  bottom: 20%;
  position: static ;
    color: rgb(0, 0, 0);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    
}
.Text-box .bold{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  text-align: left;
  font-size: 80px;
  font-weight: 600;
  padding-left: 8px;
}

.Text-box h1{
  font-size: 180px;
  margin-top: -50px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  background:url(Images/stripes2.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 30s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.Text-box h3{
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 500px;
  padding-left: 11px;
}
.row{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 22px;
  color: azure;
}

@media(max-width: 786px){
  .Text-box{
    display: inline-block;
    position: static;
      color: rgb(0, 0, 0);
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
  }
      .Text-box p{
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4vw;
        font-weight: 600;
        display: flexbox;
      }
      .Text-box h1{
        font-size: 18vw;
      
        
        
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        background:url(Images/stripes2.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
      }
      @keyframes back{
        100%{
          background-position: 2000px 0;
        }
      }
      .Text-box h3{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        font-size: 6vw;
        text-decoration-style: solid;
        font-weight: 500px;
      }
      .row{
        color: white;
        padding-left: 19px;
      }
}
/* About Page */
.fwh-slide body{
  margin:0;
}
.fwh-slide{
  height: 100vh;
  background: linear-gradient(-45deg,#f5967f,#f4d293,#c1946a,#fdb4be);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  background-repeat: no-repeat;
  box-sizing: border-box;
  }
  @-webkit-keyframes Gradient{
  0%{
  background-position: 0% 50%
  }
  50%{
  background-position: 100% 50%}
  100%{
    background-position: 0% 50%;
  }
}
.fwh-slide--bg-blue{
  
  color: white;
}
.fwh-slide p{
  margin: 0;
}
.fwh-slide p{
  margin: 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100px;
  height: 100px;
  position: static;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.testimonial_section {
  height: 100vh;
  background: linear-gradient(-45deg,#f5967f,#f4d293,#c1946a,#fdb4be);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  background-repeat: no-repeat;
  box-sizing: border-box;
  }
  @-webkit-keyframes Gradient{
  0%{
  background-position: 0% 50%
  }
  50%{
  background-position: 100% 50%}
  100%{
    background-position: 0% 50%;
  }
}
.testimonial_section:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content {
  background-color: #dd4b5f;
  padding-top: 50px;
  padding-right: 210px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
}
.testimonial_section .about_content .background_layer {
  background-color: #dd4b5f;
  width: auto;
  margin-left: -200px;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
 
  left: 0;
}
.testimonial_section .about_content .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
  color: rgb(17, 9, 9);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h2 {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: #fff;
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.testimonial_section .about_content .layer_content .section_title .heading_line {
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
  content: "";
  right: auto;
  left: 69px;
  position: absolute;
  bottom: 28px;
  width: 17px;
  margin-left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #cacaca;
  border-bottom-style: solid;
}
.testimonial_section .about_content .layer_content .section_title .heading_line:after {
  content: "";
  left: 1%;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ff5e14;
}
.testimonial_section .about_content .layer_content .section_title p {
  color: #fff;
  margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
  color: #ff5e14;
}
.testimonial_section .testimonial_box {
  margin-top: 60px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container {
  background-color: #ff5e14;
  margin-left: -170px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .background_layer {
  background-color: #ff5e14;
  width: auto;
  margin-right: -200px;
  right: 0;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
  display: block;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
  margin: 10px 0 10px 0;
  padding: 62px 0px 72px 50px;
  position: relative;
  text-align: center;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin-left: 150px;
  margin-top: 69px;
  padding: 45px 40px 45px 40px;
  z-index: 1;
  position: relative;
  background-color: rgb(3, 17, 94);
  transition: all 0.5s ease-in-out 0s;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
  margin-bottom: 15px;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
  content: "";
  width: 30px;
  display: block;
  height: 2px;
  text-align: center;
  left: 46%;
  margin-top: 6px;
  background-color: #ff5e14;
  position: absolute;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
  padding-top: 0;
  margin-bottom: -5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #d2d4d6;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
  font-size: 12px;
  color: #9f9f9f;
  margin: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 55px;
  top: 80px;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 35%;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
  position: absolute;
  top: 165px;
  right: 42px;
  border-radius: 0;
  background: #ff5e14;
  display: block;
  outline: 0;
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
  background: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
  position: absolute;
  top: 165px;
  right: 5px;
  border-radius: 0;
  display: block;
  background: #ff5e14;
  outline: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
  background: #020d26;
}
.control{
  margin-top: 180px;
}
@media all and (max-width: 991px) {
  .testimonial_section .about_content {
    padding-right: 15px !important;
  }
  .testimonial_section .about_content .background_layer {
    width: 200% !important;
  }
  .testimonial_section .testimonial_box {
    margin-top: 0 !important;
  }
  .testimonial_section .testimonial_box .background_layer {
    width: 200% !important;
    margin-left: -200px;
  }
  .testimonial_section .testimonial_box .about_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 28% !important;
  }
  .testimonial_section .testimonial_box .testimonial_container {
    margin-left: -15px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials {
    margin: 0px 0 20px 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
    margin-left: -36px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
    display: none;
  }
}
/* Skills section */
.skills-section{
  
  padding-top: 300px;
  
  }
  
  .skills-header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  }
  
  .skills-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #2ecc71;
  border-radius: 2px;
  }
  
  .skills-container{
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  grid-gap:1rem;
  padding: 1rem 80px;
  padding-left:300px ;
  font-size: 1.2rem;
  }
  .skills-box{
  padding: 1rem;
  color: #000;
  cursor:pointer;
  }

  .skills-box:hover .skills-img{
  transform: translateX(-20px);
  }
  
  .skills-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  }
  
  .skills-title:after{
  content: '';
  position:absolute;
  bottom: 0;
  right: 50%;
  width:20px;
  height:4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: .5s;
  }
  
  .skills-title:before{
  content: '';
  position:absolute;
  bottom: 0;
  left: 50%;
  width:100px;
  height:4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  }
  
  .skills-icons{
  width:50px;
  z-index:2;
  }
  
  .skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: .5s;
  }
  
  .skills-img:after{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  width:50%;
  height:90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
  }
  .skills-title h3{
  color: #333;
  margin-top: 0.5rem;
  }
  @media screen and (max-width:990px){
   .skills-container{
   grid-tempLate-columns: repeat(2, 1fr);
   padding: 2rem 50px;
   }
  }
  
  @media screen and (max-width:650px){
   .skills-container{
   grid-tempLate-columns:2fr;
   padding: 2rem 50px;
   }
  }
  /* Project */
  img {
    border: none;
  }
  
  /*
   * Common layout code
   */
  .grid {
    padding-top: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /*
   * Float layout
   */
  .grid {
    padding-top: 350px;
    width: 210px;
  }
  .grid .card {
    float: left;
    width: 210px;
    height: 210px;
    margin: 0;
    margin-bottom: 10px;
  }
  .grid::after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 470px) {
    .grid {
      width: 430px;
    }
    .grid .card:nth-child(2n) {
      margin-right: 10px;
    }
    .grid .header {
      width: 430px;
      height: 430px;
    }
  }
  @media screen and (min-width: 690px) {
    .grid {
      width: 650px;
    }
    .grid .card {
      margin-right: 10px;
    }
    .grid .card:nth-child(2),
  .grid .card:nth-child(3),
  .grid .card:nth-child(3n+6) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 910px) {
    .grid {
      width: 870px;
    }
    .grid .card,
  .grid .card:nth-child(2),
  .grid .card:nth-child(3),
  .grid .card:nth-child(3n+6) {
      margin-right: 10px;
    }
    .grid .card:nth-child(3),
  .grid .card:nth-child(5),
  .grid .card:nth-child(4n+9) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1130px) {
    .grid {
      width: 1090px;
    }
    .grid .card:nth-child(3),
  .grid .card:nth-child(5),
  .grid .card:nth-child(4n+9) {
      margin-right: 10px;
    }
    .grid .card:nth-child(4),
  .grid .card:nth-child(7),
  .grid .card:nth-child(5n+12) {
      margin-right: 0;
    }
  }
  
  /*
   * CSS Grid Layout overrides the previous float layout on supporting browsers
   */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    grid-auto-rows: 210px;
    grid-gap: 10px;
    justify-content: center;
  }
  
  @supports (display: grid) {
    .grid {
      width: auto;
      max-width: 1090px;
    }
    .grid .card {
      margin: 0 !important;
    }
  }
  @media screen and (min-width: 470px) {
    .grid .header {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
  /*
   * Cards
   */
  .grid .card {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    background-color: #333;
  }
  
  .grid .card a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .grid .card img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .grid .card h2 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    background: radial-gradient(ellipse at center, transparent 0, rgba(0, 0, 0, 0.36) 100%);
  }
  
  .grid .card:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .grid .header:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  
  /* Focus style as hovering, if possible */
  .grid .card a:focus {
    outline: 2px solid #d11ee9;
  }
  
  .grid .card:focus-within {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .grid .card:focus-within a:focus {
    outline: none;
  }
  
  .grid .header {
    box-sizing: border-box;
    text-align: center;
    padding-top: 23px;
    font-size: 1.6875em;
    line-height: 1.3;
    background: radial-gradient(ellipse at center, transparent 0, rgba(0, 0, 0, 0.48) 100%) #454545;
  }
  
  .grid .header h1 {
    margin-top: 0;
    margin-bottom: 0.67em;
    font-family: "Cherry Swash", cursive;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: normal;
    padding-left: 28px;
    padding-right: 28px;
  }
  
  .grid .header p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.52em;
    padding-left: 34px;
    padding-right: 34px;
    color: #c7c7c7;
  }
  
  @media screen and (min-width: 470px) {
    .grid .header {
      font-size: 2.5em;
      padding-top: 100px;
    }
  
    .grid .header h1 {
      padding-left: 80px;
      padding-right: 80px;
    }
  
    .grid .header p {
      padding-left: 120px;
      padding-right: 120px;
    }
  }
  .centerize{
    padding-top: 60px;
  }
  /*
   * Show the used layout method
   */
  .notification {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;
    background-color: red;
    color: white;
    -webkit-animation-name: hide;
    animation-name: hide;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .notification__grid {
    display: none;
  }
  
  @supports (display: grid) {
    .notification__floats {
      display: none;
    }
  
    .notification__grid {
      display: block;
    }
  }
  @-webkit-keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }